__pycache__
*.py[cod]
*$py.class
*.pyc

*.db
*.sqlite3
*.save

*.xls
*.torrent

/config.py
resources/tts-gc-key.json
resources/jwt_access_token
resources/jwt_refresh_token
resources/jwt-key.pub

audio/
downloads/

.idea

.mypy_cache
*.pytest_cache
