__pycache__
*.py[cod]
*$py.class
*.pyc

# cython
*.pyd
*.c
*.so
build/
dist/
data/

.idea
*.pytest_cache
.mypy_cache

*.db
*.sqlite3
*.save

audio/
downloads/
site/

.DS_Store
test.py

# benchmarks
prof
.benchmarks
