[Unit]
Description=MajorDom VA
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
WorkingDirectory=/home/admin/MajorDom-VA/
ExecStart=python3.10 main.py
StandardOutput=append:/home/admin/logs/majordom-va.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
